body{
    background-color: rgba(68, 255, 255, 0.74);
}
#contain{
    background-color: black;
    border: 5px solid white;
    height: 275px;
    width: 750px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
}
.t1{
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#outtxt{
    font-size: 20px;
}
p{  
    color: white;
}
#userinp{
    width: 100px;
    border-radius: 10px;
    font-size: large;
    padding: 5px 18px;
    border: 2px solid white;
    outline: none;
}
#userinp:focus {
    border: 2px solid skyblue;
}
#btn{
    padding: 5px 8px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: transparent;
    outline: none;
    border: 2px solid white;
}
#btn:hover {
color: black;
background-color: white;
}
#count {
    margin-top: 35px;
}